.sidebar {
    flex: 3;
    padding: 20px;
    background-color: rgb(246, 246, 246);
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarTitle {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.sidebarImg {
    width: 100%;
    margin: 10px 0px;
}

.categoryList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.categoryListItem {
    width: 50%;
    text-align: center;
    margin: 10px 0px;
    cursor: pointer;
}

.sidebarIcons {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    font-size: 18px;
    margin: 0px 5px;
    color: #444;
    cursor: pointer;
}